<h2 mat-dialog-title>{{ esEdicion ? 'Editar grado' : 'Nuevo grado' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="form-grid">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" placeholder="Ej: Ingeniería Informática" />
      <mat-error *ngIf="form.get('titulo')?.hasError('required')">Campo obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo" placeholder="Ej: GINF" />
      <mat-error *ngIf="form.get('codigo')?.hasError('required')">Campo obligatorio</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">
    {{ esEdicion ? 'Guardar cambios' : 'Crear' }}
  </button>
</mat-dialog-actions>
