<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav" fixedInViewport>
    <div class="sidenav-logo">
      <mat-icon>assignment</mat-icon>
      <span>Jorgestor</span>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of itemsVisibles"
        [routerLink]="item.route"
        routerLinkActive="nav-active"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <span class="toolbar-title">Jorgestor</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" matTooltip="Cerrar sesión">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
